body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  width: 980px;
}

.header {
  background-color: #3b5998;
  color: white;
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faceboot-title {
  display: flex;
  align-items: center;
  margin: 5px 0 0;
}
.facebook-logo {
  margin: auto;
}
.register-button {
  background-color: #42b72a;
  font-size: 10px;
  border: none;
  padding: 3px 5px;
  color: white;
  height: 20px;
  margin-left: 10px;
}
.join-facebook {
  font-size: 10px;
  font-weight: lighter;
}
.dot-bottom {
  font-size: 0;
  line-height: 0;
  border-width: 10px;
  border-color: red;
  border-bottom-width: 0;
  border-style: dashed;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
}
.main {
  padding: 15px 15%;
}
.create-mian {
  margin: auto;
}
.create-info {
  margin: 10px 0;
}
.mian-info {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 50px;
}
.product-section {
  background-color: white;
  text-align: center;
  width: 100%;
}

.about-product {
  text-align: center;
}
.product-img {
  width: 150px;
}
.product-cayegory {
  font-size: 18px;
  margin: 20px 0 10px;
}
.product-message {
  color: gray;
  font-size: 13px;
  margin-bottom: 70px;
}
.start-button {
  border: none;
  padding: 4px 8px;
  margin-bottom: 15px;
}
.association-section {
  background-color: white;
  text-align: center;
  width: 100%;
  margin-left: 20px;
}
